# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
# commented out .env since we need the .env in order to run the server we've set up to run with this project
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
