:root {
  --lightcolor: rgba(255, 255, 255, 1);
  --secondarybg: rgba(41, 41, 41, 1);
  --darktext: rgba(71, 71, 71, 1);
  --lighttext: rgba(71, 71, 71, 0.85);
  --primarybg: rgba(0, 136, 189, 1);
  --tileborder: rgba(0, 136, 189, 0.5);
  --tilebg: rgba(0, 97, 129, 1);
  --primarybtn: rgba(250, 169, 22, 1);
  --disabledbtn: rgba(252, 204, 115, 1);
  --defaultbtn: rgba(250, 169, 22, 1);
}

body {
  margin: 0;
  background-color: var(--secondarybg);
  font-family: 'Inter', sans-serif, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source252, 204, 115-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
