:root {
  --lightcolor: rgba(255, 255, 255, 1);
  --pink: rgba(163, 43, 119, 1);
  --lgtpink: rgba(163, 43, 119, 0.4);
  --cyan: rgba(221, 245, 243, 1);
  --camel: rgba(204, 153, 89, 1);
  --gray: rgba(84, 80, 81, 1);
  --darktext: rgba(70, 84, 92, 1);
  --primarybg: rgba(0, 136, 189, 1);
  --tileborder: rgba(0, 136, 189, 0.5);
  --tilebg: rgba(0, 97, 129, 1);
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
